.widget_doifd_user_reg_form {
width: 190px;
margin-top: 25px;
margin-right: 25px;
margin-bottom: 25px;
margin-left: 25px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
-moz-box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
padding: 5px;
background-color: #27d1f7;
}
.widget_doifd_user_reg_form label {
color: #000000;
}
.widget_doifd_user_reg_form ul li {
list-style-type: none;
padding: 0px;
margin: 0px;
}
.widget_doifd_user_reg_form input[type=text] {
width: 180;
background: #ffffff;
margin-bottom: 10px;
}
.doifd_widget_promo_link {
font-size: 0.7em !important;
padding-top: 15px !important;
text-align: center;
}
.doifd_widget_promo_link a:link,
.doifd_widget_promo_link a:visited,
.doifd_widget_promo_link a:hover,
.doifd_widget_promo_link a:active {
color: #CCCCCC !important;
}
.doifd_widget_statusmsg {
margin-bottom: 20px;
width: 100%;
font-size: 1em;
text-align: center;
}
.doifd_widget_waiting {
color: #767676;
text-align: center;
display: none;
font-family : Arial, sans-serif;
font-size:0.8em;
font-weight: bold;
margin: 100px auto;
background: transparent;
}
.doifd_widget_h4 {
margin: 5px auto;
text-align: center;
width: 90%;
color: #000000;
font-size: 1em;
}
.doifd_privacy_link {
text-align: center;
margin: 15px auto;
font-size: 0.9em;
}
