.doifd_user_reg_form {
margin: 15px auto;
width: 450px;
padding: 15px;
background-color:transparent;
color: #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 8px;
-webkit-box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
-moz-box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
box-shadow: inset 0 1px 15px rgba(68,68,68,0.6);
text-align: center;
}
.doifd_user_reg_form ul li{
list-style: none;
padding-top: 10px;
margin: 0 auto;
}
.doifd_user_reg_form label {
display: block;
width: auto;
float: left;
margin: 2px 4px 6px 4px;
text-align: right;
}
.doifd_user_reg_form input[type=text]{
border: 1px solid #006;
background: transparent;
width: 70%;
margin-bottom: 10px;
}
.doifd_user_reg_form h4 {
width: 80%;
color: #000000;
margin: 15px auto!important;
text-align: center;
font-weight: bold;
font-size: 1em;
}
#doifd_button_holder {
width: 100%;
margin: 15px auto;
text-align: center;
}
.doifd_privacy_link {
text-align: center;
font-size: 0.9em;
margin: 15px auto;
}
