#doifdForm6 .doifdHorizontal6 {
width:100%;
text-align: center;
padding: 25px;
background: #F6F6F6;
color: #515151;
font-family: Arial, Helvetica, sans-serif;
border: 8px solid #2b2b2b;
}
#doifdForm6 .doifdHorizontal6 ul, li {
list-style: none;
padding-top: 10px;
margin: 0 auto;
}
#doifdForm6 .doifdHorizontal6 input, label {
margin: 5px;
}
#doifdForm6 .doifdHorizontal6 input[type=text]{
width: 40%;
background: #ffffff;
}
#doifdForm6 .doifdTitle6 {
color: #515151;
font-family: Tahoma, Geneva, sans-serif;
font-size: 1.2em;
text-align: center;
margin: 0px 0px 15px 0px;
}
#doifdForm6 .doifdDesc6 {
color: #515151;
font-family: Verdana, Geneva, sans-serif;
font-size: .9em;
text-align: center;
margin: 15px 0px;
line-height: 1.5em;
}
#doifdForm6 .doifdHorizontal6 input[type=text] {
width: 40%;
background: #ffffff;
}
#doifdForm6 .doifdHorizontal6 input[type=submit] {
color: #ffffff;
background: #DE1B1B;
}
#doifdForm6 .doifdDefaultButtonHolder {
text-align: center;
}
