#doifdForm1 .doifdDefault1 {
width:80%;
text-align: center;
padding: 25px;
background: #F6F6F6;
color: #8224e3;
font-family: Arial, Helvetica, sans-serif;
border: 4px solid #ffffff;
}
#doifdForm1 .doifdDefault1 ul li {
list-style: none;
padding-top: 10px;
margin: 0 auto;
}
#doifdForm1 .doifdDefault1 input, label {
margin: 5px;
}
#doifdForm1 .doifdDefault1 input[type=text]{
width: 85%;
background: #ffffff;
}
#doifdForm1 .doifdTitle1 {
color: #515151;
font-family: Tahoma, Geneva, sans-serif;
font-size: 1.2em;
text-align: center;
margin: 0px 0px 15px 0px;
}
#doifdForm1 .doifdDesc1 {
color: #515151;
font-family: Verdana, Geneva, sans-serif;
font-size: .9em;
text-align: center;
margin: 15px 0px;
line-height: 1.5em;
}
#doifdForm1 .doifdDefault1 input[type=text] {
width: 85%;
background: #ffffff;
margin-bottom: 20px;
}
#doifdForm1 .doifdDefault1 input[type=submit] {
width: 50%;
color: #ffffff;
background: #008080;
}
#doifdForm1 .doifdDefaultButtonHolder {
text-align: center;
}
