#doifdForm {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
#doifdForm .ul, li {
list-style: none;
padding-top: 10px;
margin: 0 auto;
}
#doifdForm .input, label {
margin: 5px;
}
#doifdForm .input[type=text]{
}
#doifdForm .doifdTitle {
text-align: center;
margin: 0px 0px 15px 0px;
}
#doifdForm .doifdDesc {
text-align: center;
margin: 15px 0px;
line-height: 1.5em;
}
#doifdForm .input[type=text] {
}

#doifdForm .doifdDefaultButtonHolder {
text-align: center;
}
