#doifdForm4 .doifdDefault4 {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
#doifdForm4 .doifdDefault4 ul, li {
list-style: none;
padding-top: 10px;
margin: 0 auto;
}
#doifdForm4 .doifdDefault4 input, label {
margin: 5px;
}
#doifdForm4 .doifdDefault4 input[type=text]{
}
#doifdForm4 .doifdTitle4 {
text-align: center;
margin: 0px 0px 15px 0px;
}
#doifdForm4 .doifdDesc4 {
text-align: center;
margin: 15px 0px;
line-height: 1.5em;
}
#doifdForm4 .doifdDefault4 input[type=text] {
margin-bottom: 20px;
}
#doifdForm4 .doifdDefault4 input[type=submit] {
width: 50%;
}
#doifdForm4 .doifdDefaultButtonHolder {
text-align: center;
}
