#doifdForm5 .doifdDefault5 {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
#doifdForm5 .doifdDefault5 ul, li {
list-style: none;
padding-top: 10px;
margin: 0 auto;
}
#doifdForm5 .doifdDefault5 input, label {
margin: 5px;
}
#doifdForm5 .doifdDefault5 input[type=text]{
}
#doifdForm5 .doifdTitle5 {
text-align: center;
margin: 0px 0px 15px 0px;
}
#doifdForm5 .doifdDesc5 {
text-align: center;
margin: 15px 0px;
line-height: 1.5em;
}
#doifdForm5 .doifdDefault5 input[type=text] {
margin-bottom: 20px;
}
#doifdForm5 .doifdDefault5 input[type=submit] {
width: 50%;
}
#doifdForm5 .doifdDefaultButtonHolder {
text-align: center;
}
