#doifdForm3 .doifdEmailOnly3 {
width:100%;
text-align: center;
padding: 25px;
background: #F6F6F6;
color: #515151;
font-family: Arial, Helvetica, sans-serif;
border: 8px solid #2b2b2b;
}
#doifdForm3 .doifdEmailOnly3 ul li {
list-style: none;
padding-top: 10px;
margin: 0 auto;
}
#doifdForm3 .doifdEmailOnly3 input, label {
margin: 5px;
}
#doifdForm3 .doifdEmailOnly3 input[type=text]{
width: 75%;
background: #ffffff;
}
#doifdForm3 .doifdTitle3 {
color: #515151;
font-family: Tahoma, Geneva, sans-serif;
font-size: 1.2em;
text-align: center;
margin: 0px 0px 15px 0px;
}
#doifdForm3 .doifdDesc3 {
color: #515151;
font-family: Verdana, Geneva, sans-serif;
font-size: .9em;
text-align: center;
margin: 15px 0px;
line-height: 1.5em;
}
#doifdForm3 .doifdEmailOnly3 input[type=text] {
width: 75%;
background: #ffffff;
}
#doifdForm3 .doifdEmailOnly3 input[type=submit] {
color: #ffffff;
background: #DE1B1B;
}
#doifdForm3 .doifdDefaultButtonHolder {
text-align: center;
}
